 body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*:focus {
  box-shadow: none !important;
}

.volume-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}


.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 0 auto; /* Added to horizontally center the image container */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.1s;
  transform: scale(1.05);
}

.image-container.clicked .image {
  transform: scale(1);
}

.message-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
  width: 310px;
  height: 300px;
  overflow-y: scroll;
  word-wrap: break-word;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message-container::-webkit-scrollbar{
    display: none;
}

.system-message {
  background-color: #ed510e;
  color: #ffffff;
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 10px;
  width: 100%;
  align-self: flex-start;
}

.chat-message {
  background-color: #ed510e;
  color: #ffffff;
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 10px;
  max-width: 80%;
  align-self: flex-start;
}

.user-message {
  background-color: #faa301;
  color: #ffffff;
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 10px;
  max-width: 80%;
  align-self: flex-end;
}

.input-group {
  width: 310px;
  display: flex;
  align-items: center;
}

.text-entry {
  margin-top: 0px;
  font-size: 14px;
  width: 80%;
  height: 38px;
  border-radius: 4px 0px 0px 4px;
}

.text-entry:focus {
  border: 1px solid #ec7d0f;
}

.enter-button {
  margin-top: 0px;
  font-size: 14px;
  font-weight: bold;
  width: 20%;
  background-color: #ec7d0f;
  border: 2px;
  border-radius: 0px 4px 4px 0px;
  border-color: steel;
  height: 38px;
  margin-left: 0px;
}

.enter-button:hover {
  background-color: #ed510e;
}

.enter-button:active {
  background-color: #ef110c !important;
}