body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.image {
  display: block;
  width: 310px;
  height: 310px;
  object-fit: cover;
  transition: transform 0.1s;
  transform: scale(1.05)
}

.image-container.clicked .image {
  transform: scale(1);
}

.paragraph {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  margin-bottom: 5px;
  width: 310px;
  height: 150px;
  overflow: scroll;
  word-wrap: break-word;
  font-size: 16px;
}

.text-entry {
  margin-top: 10px;
  font-size: 14px;
}

.enter-button {
  margin-top: 5px;
  padding: 8px 16px;
  background-color: #e87813;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.enter-button:hover {
  background-color: #ea4211;
}